__FunctionTransformer() :__ A FunctionTransformer forwards its X (and optionally y) arguments to a user-defined function or function object and returns the result of this function. This is useful for stateless transformations such as taking the log of frequencies, doing custom scaling, etc. Let's look at a simple Example:

In [1]:
import pandas as pd
import numpy as np
#First lets create a small dataframe from dictionary
a = {
    'Fare' : [200, 300, 50, 900],
    'Seat' : ['A101', 'C102', 'A200', 'C300'],
    'Code' : ['X12', 'Y56', 'E45', 'G27'],
}

#Convert the dictionary to dataframe
my_df = pd.DataFrame(a)
my_df

   Fare  Seat Code
0   200  A101  X12
1   300  C102  Y56
2    50  A200  E45
3   900  C300  G27

In [2]:
from sklearn.preprocessing import FunctionTransformer


#Convert existing function into a transformer:
clip_fares = FunctionTransformer(np.clip, kw_args = {'a_min':100, 'a_max':600})


#Function to textract first letter of a string:
def first_letter(df):
    return df.apply(lambda x: x.str.slice(0,1))

#Convert custom function into a transformer
get_first_letter = FunctionTransformer(first_letter)

In [3]:
#Include the functions transformers in a column transformer 
from sklearn.compose import make_column_transformer
ct = make_column_transformer((clip_fares, ['Fare']),(get_first_letter, ['Seat','Code']))

In [4]:

#Apply the transformations using fit_transform:
ct.fit_transform(my_df)

array([[200, 'A', 'X'],
       [300, 'C', 'Y'],
       [100, 'A', 'E'],
       [600, 'C', 'G']], dtype=object)